[submodule "triplicate"]
	path = fonts/triplicate
	url = ssh://git@git.home/james/triplicate
[submodule "home/secrets"]
	path = home/secrets
	url = ssh://git@git.home/james/dotfiles-secrets
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:cantsin/dotemacs
