[submodule "triplicate"]
	path = fonts/triplicate
	url = ssh://git@git.home/james/triplicate
[submodule "home/secrets"]
	path = home/secrets
	url = ssh://git@git.home/james/dotfiles-secrets
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:cantsin/dotemacs
[submodule "home/powerlevel10k"]
	path = home/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "fonts/valkyrie"]
	path = fonts/valkyrie
	url = ssh://git@git.home/james/valkyrie
